In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import yfinance as yf
from yahoofinancials import YahooFinancials


ticker = yf.Ticker("usmv")
tsd = ticker.history(period="10y")
tsd.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2013-07-24 00:00:00-04:00,27.969668,27.969668,27.656881,27.722733,3761200,0.0,0.0,0.0
2013-07-25 00:00:00-04:00,27.706267,27.829737,27.648649,27.829737,3774100,0.0,0.0,0.0
2013-07-26 00:00:00-04:00,27.739201,27.895593,27.607502,27.887363,338600,0.0,0.0,0.0
2013-07-29 00:00:00-04:00,27.846195,27.887351,27.796807,27.846195,426600,0.0,0.0,0.0
2013-07-30 00:00:00-04:00,27.936738,28.002589,27.813272,27.879120,380000,0.0,0.0,0.0

In [2]:
len(tsd)

2517